.App {
  background-color: rgb(177, 173, 173);
  text-align: center;
}

.App nav {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.App nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  flex-wrap: wrap;
  list-style-type: none;
}

.App nav ul li {
  margin-right: 2rem;
  font-size: 2.5rem;
  text-decoration: none;
  color: black;
  text-align: center;
  list-style-type: none;
}

.App nav ul li:hover {
  /* color: rgb(187, 184, 184); */
  text-decoration: underline;
}

.show-text-fields {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-text-fields input {
  display: flex;
  margin-right: 1.5rem;
  padding: 15px;
  outline: none;
  background: #f5f5f5;
  font-size: 16px;
  border-radius: 10px;
}
.movie-text-fields {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.movie-text-fields input {
    display: flex;
    margin-right: 1.5rem;
    padding: 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
  }
 
.animeShowItem-text-fields {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.animeShowItem-text-fields input {
    display: flex;
    margin-right: 1.5rem;
    padding: 15px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border-radius: 10px;
  }

.animeShowItem ul{
    list-style: none;
}





.animeShows ul{
    list-style: none;
}

.animeShows ul li img{
    width: 450px;
    height: 375px;
}

.animeMovies ul{
    list-style: none;
}

.animeMovies ul li img{
    width: 450px;
    height: 375px;
}